

body {
	line-height: 2.0;
	font-family: sans-serif;
}

input {
	position: absolute;
	width: 360px;
	left: 80px;
	font-size: 10pt;
	padding: 5px;
}

#eventRemarks {
	position: relative;
	left: 20px;
	width: 410px;
	height: 300px;
}

#map {
	position: absolute;
	left: 500px;
	top: 10px;
	width: 400px;
	height: 300px;
}
